@keyframes ttoast-drop {
  0% {
    transform: translate(-50%, 0);
  }

  100% {
    transform: translate(-50%, 10px);
  }
}

@keyframes ttoast-rise {
  0% {
    transform: translate(-50%, 10px);
  }

  100% {
    transform: translate(-50%, 0);
  }
}

.ttoast-box {
  position: fixed;
  bottom: 80px;
  width: 100%;
  z-index: 23333;
}

.ttoast {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 80%;
  background-color: rgba(50, 50, 50, .85);
  color: #fff;
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  padding: 0 12px;
  box-shadow: rgba(0, 0, 0, .12) 0px 1px 6px, rgba(0, 0, 0, .12) 0px 1px 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ttoast.show {
  animation: ttoast-rise .1s ease-out;
}

.ttoast.hide {
  animation: ttoast-drop .1s ease-out;
}